@keyframes intro1slidein {
  from {
    top: 120px;
  }

  to {
    top: 90px;
  }
}


@keyframes intro2slidein {
  from {
    top: 380px;
  }

  to {
    top: 350px;
  }
}


@keyframes intro3slidein {
  from {
    bottom: 180px;
  }

  to {
    bottom: 220px;
  }
}

@keyframes intro4slidein {
  from {
    top: 120px;
  }

  to {
    top: 90px;
  }
}

@keyframes intro5slidein {
  from {
    top: 120px;
  }

  to {
    top: 90px;
  }
}

@keyframes intro6slidein {
  from {
    top: 380px;
  }

  to {
    top: 350px;
  }
}

@keyframes intro7slidein {
  from {
    bottom: 50px;
  }

  to {
    bottom: 80px;
  }
}

@keyframes intro8slidein {
  from {
    top: 480px;
  }

  to {
    top: 440px;
  }
}

@keyframes introAslidein {
  from {
    bottom: 80px;
  }

  to {
    bottom: 100px;
  }
}

@keyframes introBslidein {
  from {
    bottom: 0px;
  }

  to {
    bottom: 30px;
  }
}

@keyframes introCslidein {
  from {
    top: 350px;
  }

  to {
    top: 320px;
  }
}

@keyframes introDslidein {
  from {
    top: 200px;
  }

  to {
    top: 150px;
  }
}


$breakpoint-tablet1: 1024px;

@media (max-width: $breakpoint-tablet1) {
  @keyframes intro1slidein {
    from {
      top: -60px;
    }

    to {
      top: -70px;
    }
  }

  @keyframes intro2slidein {
    from {
      top: 80px;
    }

    to {
      top: 70px;
    }
  }


  @keyframes intro3slidein {
    from {
      bottom: -20px;
    }

    to {
      bottom: -30px;
    }
  }

  @keyframes intro4slidein {
    from {
      top: -80px;
    }

    to {
      top: -90px;
    }
  }

  @keyframes intro5slidein {
    from {
      top: -140px;
    }

    to {
      top: -150px;
    }
  }

  @keyframes intro6slidein {
    from {
      top: -20px;
    }

    to {
      top: -30px;
    }
  }

  @keyframes intro7slidein {
    from {
      bottom: -180px;
    }

    to {
      bottom: -190px;
    }
  }

  @keyframes intro8slidein {
    from {
      top: 360px;
    }

    to {
      top: 370px;
    }
  }

  @keyframes introAslidein {
    from {
      bottom: -50px;
    }

    to {
      bottom: -60px;
    }
  }

  @keyframes introBslidein {
    from {
      top: 240px;
    }

    to {
      top: 250px;
    }
  }

  @keyframes introCslidein {
    from {
      top: -120px;
    }

    to {
      top: -130px;
    }
  }

  @keyframes introDslidein {
    from {
      top: -230px;
    }

    to {
      top: -240px;
    }
  }
}

.MuiPopperUnstyled-root {
  z-index: 10;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute !important;
  top: 50%;
  width: 58px;
  height: 58px;
  margin-top: -22px !important;
  z-index: 10;
  cursor: pointer !important;
  background-size: 58px 58px !important;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(98.79deg, #9B53E0 20.34%, #8551E6 77.89%);
  border-radius: 154.863px !important;
  transform: rotate(-180deg) !important;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: white;
  }
}

$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 20px;
  right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 20px;
  left: auto;
}

.swiper-container {
  width: 100% !important;
}

// .MuiMenu-list {
//   border: 2px solid transparent !important;
//   border-radius: 5% !important;
//   background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgba(123, 97, 255, 1), rgba(0, 218, 217, 1)) border-box;
// }